<%- include('parts/head') %>
    <%- include('parts/nav') %>

        <form action="/formsub" method="post" enctype="multipart/form-data">
            <div class="row justify-content-center g-0 flex-md-row-reverse">
                <div class="col-md-7 bg-dark">
                    <div>
                        <img id="preview" src="<%= imageUrl %>" alt="">
                    </div>
                </div>
                <div class="col-md-3 row justify-content-center bg-info">
                    <fieldset class="col-12">
                        <legend>Please select your action :</legend>
                        <label class="radio-button">
                            <input type="radio" id="contactChoice1" name="mod" value="rembg" checked />
                            <span class="radio"></span>
                            Background Removle
                        </label>
                        <label class="radio-button">
                            <input type="radio" id="contactChoice2" name="mod" value="scale" />
                            <span class="radio"></span>
                            Image Enhancement
                        </label>
                    </fieldset>
                    <div class="uploadOuter">
                        <label for="uploadFile" class="btn btn-primary">upload img</label>
                        <input name="image" type="file" id="uploadFile" class="btn btn-primary" hidden>

                        <a href="#" id="downloadLink" download hidden></a>
                        <button id="downloadButton" role="button" class="btn btn-primary">Download Image</button>
                    </div>
                    <input class="btn btn-primary" type="submit">
                </div>
            </div>
        </form>
        <%- include('parts/spinner') %>
            <%- include('parts/footer') %>